<tr>
  <td>
  <table align="center">
    <tr>
    <td class="oversupply-text">
      Money4Macs is not currently purchasing any more <%= object.name -%> machines due to over supply.
    </td>
    </tr>
  </table>
  </td>
</tr>
