<table class="banner-logo" align="center" width="690" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br/>0117 939 6254
    </td>
  </tr>
</table>
<table class="four-border" width="690" border="0" cellpadding="3">
  <tr>
  <td align="left" class="about-us-title"> <div align="center">Frequently Asked Questions</div>
  </td>
  </tr>
  <tr>
    <td align="left" class="simple-text"><p><strong>Does my Mac have to be fully working?</strong></p>
      <blockquote>
        <p align="justify"> No. Money4Macs.co.uk will purchase your Mac in any condition. As you would expect faulty Macs will not be worth as much but our system allows you to choose from two levels of faulty enabling us to be able to offer you the best price.</p>
      </blockquote>
      <p><strong>Do I need to have the original box?</strong></p>
      <blockquote>
        <p align="justify"> No. Your Mac just needs to be well packaged in a suitable strong double walled cardboard box with no appreciable structural damage using large bubble bubble wrap or foam. Our courier company &quot;Interlink express&quot; like all courier companies tend to throw parcels about a bit and they are often placed on conveyor belts for sorting so adequate spacing around all corners of the Mac are essential. Detailed information regarding packaging will be e-mailed to you on receipt of your quote. Please ensure you follow these instructions. Products damaged in transit due to inadequate packaging will not be covered by insurance.</p>
      </blockquote>
      <p><strong>Will I really get paid in 48 hours?</strong></p>
      <blockquote>
        <p align="justify"> Whether you get paid within two working days of collection depends on a couple of things. Whether you have accurately described your Mac and if it is fully working. In most cases your Mac will be accurately described and payment will be made within 24 hours of our receipt of your Mac. Payment into PayPal accounts are immediate. Payment into the vast majority of bank and building society accounts are now made using the bank's faster payments service and take less than two hours. Macs that are faulty will take one extra day for assessment before payment is made. Macs that are inaccurately described will cause a delay in payment until we are able to agree a resolution.</p>
      </blockquote>
      <p><strong>Will I really be paid the quoted amount?</strong></p>
      <blockquote>
        <p align="justify"> Yes. As long as your description was accurate, the specifications were quoted accurately and the declared accessories are included and functional then Money4Macs.co.uk will pay the full amount quoted. Small discrepancies will be assumed to just be oversights as things like condition can be subjective. Major discrepancies will of course need to be addressed and Money4Macs.co.uk reserve the right to re-quote in these instances. Please note that if you choose to be paid by PayPal then PayPal will deduct a fee for the transaction.</p>
      </blockquote>
      <p><strong>Can I specify a time for collection?</strong></p>
      <blockquote>
        <p align="justify"> No. Our courier company &quot;interlink express&quot; only specify the day for collection. It is the sender's responsibility to ensure someone is available to hand the parcel over to the courier. Collection can be any time from 9 AM to 5:30 PM.</p>
      </blockquote>
      <p><strong>What about my data on the hard drive?</strong></p>
      <blockquote>
        <p align="justify"> Once payment has been made for your Mac the hard drive or SSD will be securely erased using industry recognised software algorithms executing multiple pass writes, writing over every sector of the drive multiple times. This will render all data totally unrecoverable using even the best recovery software. Only then will hard drives and SSDs be re-used.</p>
      </blockquote>
    </td>
  </tr>
</table>
